.root {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;
  grid-row-gap: 60px;
  position: relative;
  max-width: 1920px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 966px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 664px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 480px) {
  .root > * {
    grid-column: 4;
  }
}
.policiesContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 251px;
  height: 120px;
  flex-shrink: 0;
}
@media (max-width: 966px) {
  .svg {
    transform: translateX(-40px) translateY(0px) translateZ(0px);
  }
}
@media (max-width: 664px) {
  .svg {
    width: 180px;
    transform: translateX(-32px) translateY(0px) translateZ(0px);
    flex-shrink: 0;
  }
}
@media (max-width: 480px) {
  .svg {
    transform: translateX(-50px) translateY(0px) translateZ(0px);
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Courier Prime";
  color: var(--token-z8GDrvg8Q8HB);
  font-size: 48px;
  font-weight: 700;
  transform: translateX(-64px) translateY(0px) translateZ(0px);
  white-space: pre;
  min-width: 0;
}
@media (max-width: 966px) {
  .text {
    transform: translateX(-104px) translateY(0px) translateZ(0px);
  }
}
@media (max-width: 664px) {
  .text {
    transform: translateX(-76px) translateY(0px) translateZ(0px);
  }
}
@media (max-width: 480px) {
  .text {
    transform: translateX(-100px) translateY(0px) translateZ(0px);
  }
}
.contents {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  justify-self: flex-start;
  padding-bottom: 100px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 966px) {
  .contents {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 664px) {
  .contents {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 480px) {
  .contents {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.arrowWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
@media (max-width: 966px) {
  .arrowWrapper {
    display: none;
  }
}
.freeBox {
  display: block;
  position: relative;
  width: 100%;
  height: 18px;
  background: #fef5f4;
  transform: translateX(-20px) translateY(0px) translateZ(0px);
}
.arrowSvg2 {
  object-fit: cover;
  max-width: 100%;
  height: 60px;
  width: 38px;
  position: relative;
  transform: translateX(-40px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
.arrowSvg2 > picture > img {
  object-fit: cover;
}
.text__n0Jht {
  position: relative;
  width: 800px;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  font-family: "Courier Prime";
  padding-top: 0px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-z8GDrvg8Q8HB);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  opacity: 0.75;
  flex-shrink: 0;
}
.ul___3VFz {
  display: flex;
  flex-direction: column;
}
.li__g9WUc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__eiz89 {
  display: flex;
  flex-direction: column;
}
.li__az2Lf {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__gtXhL {
  display: flex;
  flex-direction: column;
}
.li___79K5M {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__r5Gyj {
  display: flex;
  flex-direction: column;
}
.li__kId0 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__z12SB {
  display: flex;
  flex-direction: column;
}
.li__asin4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__xk76H {
  display: flex;
  flex-direction: column;
}
.li__mcCxj {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__nNYzb {
  display: flex;
  flex-direction: column;
}
.li__ffqaq {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__zHikw {
  display: flex;
  flex-direction: column;
}
.li___8XBg8 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__n5Lb {
  display: flex;
  flex-direction: column;
}
.li__p8Ea {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__tfEeN {
  display: flex;
  flex-direction: column;
}
.li__hdh9P {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__p3KF7 {
  display: flex;
  flex-direction: column;
}
.li__xakel {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__mxLYe {
  display: flex;
  flex-direction: column;
}
.li___1MqG {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__yTcO1 {
  display: flex;
  flex-direction: column;
}
.li__hxhMh {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__zH7Qj {
  display: flex;
  flex-direction: column;
}
.li__iBtU5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__dnDe {
  display: flex;
  flex-direction: column;
}
.li__lhvkf {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__pZCwm {
  display: flex;
  flex-direction: column;
}
.li__f442 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__zNiDg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__l5Iv {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.li__lMjvE {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul___8TdEx {
  display: flex;
  flex-direction: column;
}
.li__gbptb {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__rsPE {
  display: flex;
  flex-direction: column;
}
.li__y875I {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__fBxmI {
  display: flex;
  flex-direction: column;
}
.li___0UMLy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__nhXc0 {
  display: flex;
  flex-direction: column;
}
.li__te4G0 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__zX56S {
  display: flex;
  flex-direction: column;
}
.li__enUqQ {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__jrbPq {
  display: flex;
  flex-direction: column;
}
.li___4NgXt {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__mYmf {
  display: flex;
  flex-direction: column;
}
.li___7ZWge {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__pmLst {
  display: flex;
  flex-direction: column;
}
.li__yRrTu {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul___3GzY {
  display: flex;
  flex-direction: column;
}
.li__gS5E7 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul___43Ay {
  display: flex;
  flex-direction: column;
}
.li__bYxF {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul___3HDy {
  display: flex;
  flex-direction: column;
}
.li__eR3X2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__xfRvH {
  display: flex;
  flex-direction: column;
}
.li__fPh7U {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__jaEkX {
  display: flex;
  flex-direction: column;
}
.li__rF {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__rk6Mm {
  display: flex;
  flex-direction: column;
}
.li__hK9EY {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__d6V {
  display: flex;
  flex-direction: column;
}
.li__zdNu {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__wslMx {
  display: flex;
  flex-direction: column;
}
.li__gibyl {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__i2EhZ {
  display: flex;
  flex-direction: column;
}
.li___8G0PF {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.ul__heqmz {
  display: flex;
  flex-direction: column;
}
.li___9H1Id {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.blankBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-grow: 1;
  left: auto;
  top: auto;
  flex-shrink: 0;
  opacity: 0;
}
@media (max-width: 966px) {
  .blankBox {
    display: none;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: auto;
  top: auto;
  display: none;
}
