.featuresSection {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fef2f1;
  width: 100%;
  height: 575px;
  min-width: 0;
  border-radius: 4px;
  padding: 46px 60px 60px;
  border: 1px solid var(--token-lguFfFArkavL);
}
.featuresSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.featuresSection > :global(.__wab_flex-container) > *,
.featuresSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featuresSection > :global(.__wab_flex-container) > picture > img,
.featuresSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1360px) {
  .featuresSection {
    height: 500px;
    padding: 60px;
  }
}
@media (max-width: 966px) {
  .featuresSection {
    padding: 40px;
  }
}
@media (max-width: 664px) {
  .featuresSection {
    height: auto;
  }
}
@media (max-width: 480px) {
  .featuresSection {
    padding: 32px;
  }
}
.text__qu7WV {
  position: relative;
  color: var(--token-_A5ZyLxJCdjP);
  font-family: "Courier Prime";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (max-width: 480px) {
  .text__qu7WV {
    font-size: 18px;
    line-height: 20px;
  }
}
.text__c9HH4 {
  position: relative;
  color: var(--token-RQ0B8ee5qqoS);
  font-family: "Courier Prime";
  font-weight: 700;
  font-size: 30px;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (max-width: 480px) {
  .text__c9HH4 {
    line-height: 24px;
    font-size: 20px;
  }
}
.text__efgSc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Courier Prime";
  font-size: 20px;
  color: var(--token-_A5ZyLxJCdjP);
  min-width: 0;
}
@media (max-width: 664px) {
  .text__efgSc {
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .text__efgSc {
    font-size: 16px;
  }
}
.planLists {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(20px + 12px) !important;
  min-width: 0;
}
.planLists > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.planLists > :global(.__wab_flex-container) > *,
.planLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.planLists > :global(.__wab_flex-container) > picture > img,
.planLists
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 1360px) {
  .planLists {
    margin-top: calc(20px + 12px) !important;
  }
}
@media (max-width: 664px) {
  .planLists {
    margin-top: calc(20px + 12px) !important;
  }
}
@media (max-width: 664px) {
  .planLists > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 664px) {
  .planLists > :global(.__wab_flex-container) > *,
  .planLists > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .planLists > :global(.__wab_flex-container) > picture > img,
  .planLists
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.listItem {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.listItem > :global(.__wab_flex-container) > *,
.listItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listItem > :global(.__wab_flex-container) > picture > img,
.listItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.listText {
  position: relative;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-family: "Courier Prime";
  color: var(--token-_A5ZyLxJCdjP);
  font-size: 20px;
  text-align: left;
  white-space: pre-wrap;
  flex-grow: 0;
}
@media (max-width: 664px) {
  .listText {
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  .listText {
    font-size: 16px;
    line-height: 22px;
  }
}
